
<div class="details-page" >
    <div class="contentof">
    <div ng-repeat="c in scope.computer">
          <div class="imageof"><img src="{{c.picture}}" alt="" height="150px" width="150px"></div>
          <div class="nombre">{{c.name}}</div>
          <div class="nombre">{{c.date}}</div>
          <div class="nombre">{{c.marca}}</div>
          <div class="nombre">{{c.status}}</div>
          <div class="nombre">{{c.type}}</div>
            <div style="max-width:50%; max-height:50%;" map-lazy-load="https://maps.google.com/maps/api/js">
              <ng-map default-style="true"  zoom="7" center="[38.3821778, -0.577064]"> 
                    <marker ng-repeat="a in c.shop"
                    position="[{{a.latitude}}, {{a.longitude}}]"
                    data="{{data[$index]}}"
                    on-click="map.showInfoWindow(event, 'infow{{a.name}}{{$index}}')";
                    title="pos: {{a.latitude}}, {{a.longitude}}"></marker>
                    <info-window id="infow{{a.name}}{{$index}}" ng-repeat="a in c.shop">
                      <div style="color:black" >
                        Name: {{a.name}}<br/>
                        <!-- latitude; {{a.latitude}}<br>
                        longitude: {{a.longitude}}<br> -->
                        Stock: {{a.stock}} Unidades
                      </div>
                    </info-window>
              </ng-map>
            </div>
            <form action="http://localhost:8080/api/charge" method="POST">
              <input type="hidden" name="payment" value="{{c._id}}">
              <script
              src="https://checkout.stripe.com/checkout.js" 
              class="stripe-button"
              data-key="pk_test_WMqiVRs7QV6k0qzCU7FCl3Ji"
              data-amount="320"
              data-name="Pay with Stripe on FarmixShop"
              data-description="A VIP (3.00€)"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-label="Pay with Card Credit"
              data-locale="auto"
              data-currency="eur">
              </script>
          </form>
     </div>
    
  </div>
 
</div>
