    <!-- Header -->
    <div>
      <header id="header" class="alt">
          <h1><a ui-sref="app.home">Spectral</a></h1>
          <nav id="nav" > 
            <ul show-authed="false" class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a  ui-sref-active="active" ui-sref="app.contact"><span>Contact</span></a>
                </li>      
           
                <li class="nav-item">
                    <a  ui-sref-active="active" ui-sref="app.home" ><span>Home</span></a>
                </li>
                  
                <li class="nav-item">
                    <a  ui-sref-active="active" ui-sref="app.list"><span>Ofertas</span></a>
                </li>
                  
                <li class="nav-item">
                    <a ui-sref-active="active" ui-sref="app.login" class="button special" >Acceder</a>
                </li>
                 
                <li class="nav-item">
                    <a ui-sref-active="active" ui-sref='app.profile'><img ng-show="profileV" id='menuImg' class='icon rounded'/>{{nombre}}</a>
                </li>
            </ul>
               
            <ul show-authed="true" class="nav navbar-nav pull-xs-right">
            
                <li class="nav-item">
                    <a  ui-sref-active="active" ui-sref="app.contact"><span>Contact</span></a>
                </li>   

                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.home"> Home</a>
                </li>

                <li class="nav-item">
                    <a  ui-sref-active="active" ui-sref="app.list"><span>Ofertas</span></a>
                 </li>
            
                <li class="nav-item">
                    <a class="nav-link" ui-sref-active="active" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
                        <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
                        {{ $ctrl.currentUser.username }}
                    </a>
                </li>
                <li class="nav-item">
                        <a  ui-sref-active="active" ui-sref="app.home" class="btn btn-outline-danger" ng-click="$ctrl.logout()">
                                <span>Log Out</span>
                        </a>
                    </li>
            </ul>       
          </nav>
      </header>
  </div> 

 