    <!-- Header -->
    <div>
      <header id="header" class="alt">
          <h1><a href="index.html">Spectral</a></h1>
          <nav id="nav">
                  <a  ui-sref-active="active" ui-sref="app.contact" class="menuToggle"><span>Contact</span></a>
                  <a  ui-sref-active="active" ui-sref="app.home" class="menuToggle"><span>Home</span></a>
                  <a href="#ofertas" class="menuToggle"><span>Ofertas</span></a>
                  <a href='#/ofertas' ng-show="misofertasV">Mis ofertas</a>
                      <a href='#/admin' ng-show="adminV">Administrar</a>
                  <!-- LogProf -->
                      <a id="acceder" ng-show="accederV" href="#/" class="button special" ng-click="open()"  >Acceder</a>
                      <a id='profile' ng-show="profileV" href='#/user/profile'><img ng-show="profileV" id='menuImg' class='icon rounded' src='{{avatar}}'/>{{nombre}}</a>
                      <a id='logout' ng-show="logoutV" ng-click='logout()' >Log Out</a> -->
          </nav>
      </header>
  </div> 

 