<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Spectral</h2>
		<ul class="actions">
			<li><a href="#/" class="button special">Activate</a></li>
		</ul>
	</div>
	<a href="#products" class="more scrolly">Componentes</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<input type="text" name="" ng-model="keywords" id="" placeholder="Search your favorite products">
		<input type="button" class="button fit" ng-click="search()" value="Search">
	</div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<h1>Categorias</h1>
		<ul class="features">
			<li><a href="#/oferta/procesador" >
				<h1>Procesadores</h1>
			</a></li>
			<li><a href="#/oferta/placaBase">
				<h1>Placas Base</h1>
			</a></li>
			<li><a href="#/oferta/discoDuro">
				<h1>Discos Duros</h1>
			</a></li>
			<li><a href="#/oferta/tarjetaGrafica">
				<h1>Gráficas</h1>
			</a></li>
			<li><a href="#/oferta/ram">
				<h1>Memoria RAM</h1>
			</a></li>
			<li><a href="#/oferta/grabadora">
				<h1>Grabadoras</h1>
			</a></li>
			<li><a href="#/oferta/disquetera">
				<h1>Disqueteras</h1>
			</a></li>
			<li><a href="#/oferta/multilector">
				<h1>Multilectores</h1>
			</a></li>
			<li><a href="#/oferta/tarjetaSonido">
				<h1>Sonido</h1>
			</a></li>
			<li><a href="#/oferta/torre">
				<h1>Torres</h1>
			</a></li>
			<li><a href="#/oferta/ventilacion">
				<h1>Ventilación</h1>
			</a></li>
			<li><a href="#/oferta/fuenteAlimentacion">
				<h1>Fuentes</h1>
			</a></li>
		</ul>
	</div>
</section>



<!-- Two -->
<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"></div><div class="content">
			<h2>Magna primis lobortis<br />
			sed ullamcorper</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"></div><div class="content">
			<h2>Tortor dolore feugiat<br />
			elementum magna</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"></div><div class="content">
			<h2>Augue eleifend aliquet<br />
			sed condimentum</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
</section>



<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Arcue ut vel commodo</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="#" class="button fit special">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>